<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Deletion</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="toast" class="toast"></div>

    <div class="confirm-delete-container">
        <h1>Are you sure you want to delete the following contact?</h1>
        <p>Name: <span th:text="${contact.name}"></span></p>
        <p>Phone: <span th:text="${contact.phone}"></span></p>
        <p>Email: <span th:text="${contact.email}"></span></p>

        <form th:action="@{/delete/{id}(id=${contact.id})}" method="get">
            <button type="submit">Yes, Delete</button>
        </form>

        <a href="/">No, Go Back</a>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>
