<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hello Contact App</title>
</head>
<body>
    <h1>Contact Management App</h1>
    <form action="/addContact" method="post">
        <input type="text" name="name" placeholder="Name"><br><br>
        <input type="text" name="phone" placeholder="Phone"><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <button type="submit">Save Contact</button>
    </form>

    <ul>
        <th:block th:each="contact : ${contacts}">
            <li>
                <span th:text="${contact.name} + ' - ' + ${contact.phone} + ' - ' + ${contact.email}"></span>
                <a th:href="@{/edit/{id}(id=${contact.id})}">Edit</a> <!-- Edit link -->
                <a th:href="@{/confirmDelete/{id}(id=${contact.id})}" style="color:red;">Delete</a> <!-- Delete confirmation link -->
            </li>
        </th:block>
    </ul>
    
    
    
    
    

    
    <script src="/js/script.js"></script>
</body>
</html>
