<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hello Contact App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <a href="/logout" onclick="return confirmLogout()" class="logout-button" title="Logout">
        <i class="fa fa-power-off"></i>
    </a>
    
    <!-- Logout Confirmation Modal -->
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <h3>Are you sure you want to logout?</h3>
            <div class="modal-actions">
                <button onclick="confirmLogout()">Yes, Logout</button>
                <button onclick="closeLogoutModal()">Cancel</button>
            </div>
        </div>
    </div>
    
    <h1>Contact Management App</h1>
    
    <div class="actions">
        <div class="contact-title">
            <h2>Contact List</h2>
        </div>
    
        <div class="right-actions">
            <form action="/sort" method="get">
                <label for="sortBy">Sort By:</label>
                <select name="sortBy" id="sortBy" onchange="this.form.submit()">
                    <option value="name" th:selected="${sortBy == 'name'}">Name</option>
                    <option value="phone" th:selected="${sortBy == 'phone'}">Phone</option>
                    <option value="email" th:selected="${sortBy == 'email'}">Email</option>
                </select>
            </form>
    
            <form action="/search" method="get">
                <input type="text" name="keyword" placeholder="Search Here.." required>
                <button type="submit">Search</button>
            </form>
    
            <a href="/addContact">Add New Contact</a>
        </div>
    </div>
    

    <table class="contact-table" border="1">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.name}"></td>
            <td th:text="${contact.phone}"></td>
            <td th:text="${contact.email}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${contact.id})}">Edit</a> |
                <a th:href="@{/confirmDelete/{id}(id=${contact.id})}" style="color:red;">Delete</a>
            </td>
        </tr>
    </table>

    <script src="/js/script.js"></script>
</body>

</html>